

body {
    background-color: rgb(252, 208, 163);
    height: 100%;

    /*background-image: linear-gradient(to bottom, #EEE, #DDD);/*/
    font-family: sans-serif;
    
}

#main{
    width: 90%;
    margin: 90px auto 10px auto;
}

#myapp{
    padding: 5px 15px;
}

nav{
 
   
    
    
}

#carrusel {
    display: grid;
    grid-template-columns: auto auto auto;
}

#carrusel .card{
    
    
    
}
#carrusel .card img{

    
}

#header1{
    background-color: #EEE;
    display: none;
}
h1{
    font-family: serif;
    font-size: 11vw;
    
    color: #EEE;
    text-align: center;
   
}

h3{
    font-size: 3vw;
}

#group-input{
    width: 50%;

}



.btn{
    /*width: 50%;
    margin: 10px auto;
    display: block;*/
}


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

    #carrusel {
            display: inline-block;
            
        }

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    
}