

body {
    background-color: white;
    background-image: url("/src/assets/foodbg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main{
    margin:120px 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    padding-bottom: 80px !important;
}


.main-title > h1{
    font-family: 'Allura', cursive;
    font-size: 5rem;
    color: #006658;
}

.text-muted{
    padding:10px;
}

.search-button, .surprise-me-button{
    width:100%;
    margin-left:5px;
    margin-right:5px;
    
}

#carrusel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top:30px;
    gap: 1.5rem;
}

#carrusel .card{
    
    font-weight: bold;
    
}
#carrusel .card img{
    
}

#carrusel .card h3{
    text-decoration: none !important;
    margin-top:10px;
}

#header1{
    background-color: #EEE;
    display: none;
}
h1{
    font-family: serif;
    font-size: 11vw;
    
    color: #EEE;
    text-align: center;
   
}

h3{
    font-size: 1.1rem;
}

#group-input{
    width: 50%;

   }

.btn{
    /*width: 50%;
    margin: 10px auto;
    display: block;*/
    font-weight: bold;
}


.errores{
    margin-top: 35px;
    display: flex;
    align-content: center;
    justify-content: center;
    color:red;
    font-size: 1.4rem;
}


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

    .main{
        margin:60px 40px;
        border-radius: 10px;
    }
    .main-title > h1{
        font-size: 3.5rem;
    }
    h3{
        font-size: 1rem;
    }
    #carrusel .card img{
     
    }
    #carrusel {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .main{
        margin:60px 40px;
        border-radius: 10px;
    }
    .main-title > h1{
        font-size: 4.5rem;
    }
    h3{
        font-size: 1.05rem;
    }
    #carrusel .card img{
       
    }
    #carrusel {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .main{
        margin:40px 30px;
        border-radius: 10px;
    }
    #carrusel .card img{
       
    }
    #carrusel {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    #carrusel .card img{
        
    }
    #carrusel {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #carrusel .card img{
        
    }
}